.navbar {
    overflow: visible;
    background-color: #acbbce;
    max-width: 800px;
    margin: auto;
    border-radius: 5px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 50px;
    padding-top: 0px;
    position: sticky; 
    top: 0; 
    z-index: 1000; 
    transition: top 0.3s; 
  }
  
  .navbar a {
    float: left;
    font-size: 15px;
    color: white;
    text-align: center;
    padding: 15px 40px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .subnav {
    float: left;
    overflow: hidden;
    border-radius: 5px;
  }
  
  .subnav .subnavbtn {
    font-size: 15px;  
    font-weight: bold;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: #aeb7b9;
    border-radius: 5px;
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color:rgb(121, 148, 180);
    width: 100%;
    z-index: 1;
    border-radius: 5px;
  }
  
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
    font-size: 13px
  }
  
  .subnav-content a:hover {
    background-color: #aeb7b9;
  }
  
  .subnav:hover .subnav-content {
    display: block;
  }