.article-container {
    flex-wrap: wrap;
    gap: 20px; 
    width: 100%;
    flex-direction: row;
}
.article-image{
    width: 300px;
    height: 324px;
    float:left;
    padding: 10px;
}
.article-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.article-text {
    flex: 1; 
    min-width: 300px;
    overflow: visible;
    flex-wrap: wrap;
    margin: 10px;
    padding-top: 10px;
}
.article-title h1{
    letter-spacing: 1px;
    line-height: 1.1;
    font-weight: 500;
    font-size: 40px;
    text-transform: none;
    margin-top: 0;
    font-family: Georgia;
    padding-top: 10px;
}
.article-title h2{
    font-size: 20px;
    color: #646464;
    margin-top: 10px;
}
.article-autor{
    font-size: 13px;
    color: #646464;
    margin: 5px 0;
    padding-top: -10px;
}
.article-content{
    line-height: 2;
    margin: 30px 0 0;
    font-size: 19px;
    overflow-wrap: break-word;
    text-align: justify;
    font-family: Georgia;
}

.article-content span{
    margin-right: 100px;
    float: right;
}

@media (max-width: 768px) {
    .article-container {
        flex-direction: column; /* Rearanjează elementele pe verticală pentru ecrane mici */
    }

    .article-image {
        width: 100%; /* Imaginea va ocupa lățimea completă */
        height: auto;
    }

    .article-text {
        width: 100%; /* Textul se aliniază complet sub imagine */
    }
}