.newsletter-container{
    background-color: rgb(245, 245, 245);
}
.newsletter-container h1{
    font-family: "Georgia";
}
.text-container{
    padding-top: 50px;
    margin: 50px;
}
.text-container p{
   padding-right: 150px;
}
.email-form{
    width: 60%;
    height: 50px;
    margin: 50px;
    margin-top: 0px;
    border-color: white;
    border-radius: 2px;
}
.button1-form{
    padding: 10px 20px;
    background-color: #5c6bc0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: center;
    margin: 50px;
    margin-left: 50px;
    height: 50px;
}